---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="collapse bg-base-200">
    <input type="checkbox" />
    <div class="collapse-title text-xl font-medium italic">
      I am Facundo, I am working on personal projects, focusing on backend
      development with Java using Springboot, while studying Systems Analyst at
      the University of Misiones. I am familiar with the management of Cloud
      environments and the Clean Code philosophy Astro Framework & React...
    </div>
    <div class="collapse-content">
      <div class="mb-5 text-justify">
        I started my career as a receptionist / night auditor of a 4 * hotel in
        the city of Posadas, Misiones, called Hotel HA Urbano Posadas, while I
        was studying a degree in tourism. Position in which I was from January
        2020 to June 2021.
      </div>
      <div class="mb-5 text-justify">
        I worked mainly in the reception area doing room assignment tasks,
        check-in and check-out of guests, although I also had tasks related to
        reservations, such as controlling reservation portals, helping customers
        with any inconvenience, etc.
      </div>
      <div class="mb-5 text-justify">
        While studying tourism, I began to have an interest in everything
        related to digital marketing, and digital itself. At the hotel, I
        understood that I liked solving problems (at that time related to guests
        and reservations). During the pandemic, based on studying and searching
        for information, I began to discover programming and with that, I could
        combine what I was looking for and could not find. Solving problems and
        technology, more specifically solving problems related to software.
      </div>
      <div class="mb-5 text-justify">
        I started with Java and enrolled in the degree, to have a better
        perspective of the IT world.
      </div>
      <div class="mb-5 text-justify">
        I am a curious person, who likes to solve problems, and work as a part
        of a team. I learned a lot about working as a team and being part of a
        company with guidelines and standards at the hotel.
      </div>
      <div class="mb-5 text-justify">
        I love working as a team, either independently or as a group. Valuing
        the qualities of my colleagues, and always trying to contribute to the
        whole.
      </div>
    </div>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Systems Analyst"
      subtitle="2022 to 2026 at Nacional University Of Misiones, Apostoles, Argentina"
    />
    <TimeLineElement
      title="Bechelor in Tourism"
      subtitle="2016 to 2021 at National University Of Misiones, Posadas, Argentina"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Trainee Java Developer"
      subtitle="From April-2021 to May-2022 at Telega.S.A, General Acha - La Pampa, Argentina"
    >
      Desarrollo de aplicativos de Oficina. - Migración de Base de Datos. -
      Transformacion Digital en entorno Cloud con Spring boot 2.x (partiendo de
      autoformacion). - Interaccion SQL con la base de datos MySQL. -
      Despliegues en Docker mediante CI/CD Jenkins.
    </TimeLineElement>
    <TimeLineElement
      title="Receptionist / Night Auditor"
      subtitle="From 2019 to 2021 at HA Hotel Urbano Posadas, Posadas, Argentina"
    >
      I worked mainly in the reception area doing room assignment tasks,
      check-in and check-out of guests, although I also had tasks related to
      reservations, such as controlling reservation portals, helping customers
      with any inconvenience, etc.
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a
        href="https://www.udemy.com/certificate/UC-27d119fe-57c2-4a73-8765-fb0100a81164"
        target="_blank"
      >
        Apache Kafka con Java, Spring framework y AWS</a
      >
    </li>
    <li>
      <a
        href="https://www.udemy.com/certificate/UC-fc1e21ee-abed-4e8a-92e8-a6f1a0208fcb/"
        target="_blank"
      >
        Microservicios con Springboot y Spring Cloud Netflix Eureka</a
      >
    </li>
    <li>
      <a
        href="https://www.udemy.com/certificate/UC-26509209-6007-4e68-b267-ac11e5469c89/"
        target="_blank"
      >
        Spring Framework 5 + REST de Cero a Experto</a
      >
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>SQL</li>
    <li>Java 11 & 17</li>
    <li>Springboot</li>
    <li>Postgress</li>
    <li>MySQL</li>
    <li>Astro Framework</li>
    <li>React</li>
  </ul>
</BaseLayout>
