---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import createSlug from "../lib/createSlug";
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-5xl font-bold">I'm Facundo Martinez</div>
    <div class="text-3xl py-3 font-bold">Software Developer</div>
    <div class="py-2">
      <text class="text-lg">
        This is a Personal Portfolio Website built with Astro and TailwindCSS.
      </text>
    </div>
    <div class="badge badge-accent badge-outline">Java</div>
    <div class="badge badge-accent badge-outline">Springboot</div>
    <div class="badge badge-accent badge-outline">React</div>
    <div class="badge badge-accent badge-outline">Astro</div>
    <div class="badge badge-accent badge-outline">Docker</div>
    <div class="badge badge-accent badge-outline">MySQL</div>
    <div class="badge badge-accent badge-outline">Postgres</div>
    <div class="mt-8">
      <a
        class="btn btn-outline btn-primary btn-xs sm:btn-sm md:btn-md lg:btn-lg"
        href="https://www.linkedin.com/in/facundo-martinez-dev/"
        target="_blank"
      >
        Let's connect!</a
      >
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">My last projects {"</>"}</div>
  </div>

  <HorizontalCard
    title="Thiagos-App"
    img="/proyect-1.jpg"
    desc="Web app for a local business. Allows users to see the menu, make appointments, and register new clients as users also."
    url="#"
    tech={["NestJS", "TypeScript", "Postgres", "Docker"]}
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Appointments App Manager"
    img="/proyect-2.jpg"
    desc="Web application for managing appointments for a therapist within a hospital. Using Springboot as a framework for the backend with Java, and Thymeleaf templates for the front-end using Server Side Rendering (SSR)."
    url="https://consultorio-oey7.onrender.com/"
    tech={["Springboot", "Java", "Thymeleaf", "HTML", "CSS", "JS", "Render"]}
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Mak.Dg Portfolio"
    img="/proyect-3.jpg"
    desc="Porfolio for a designer. Using Astro as a framework for the frontend and Netlify for the deployment."
    url="https://porfolio-mg.netlify.app/"
    badge="Private Repo"
    tech={["Astro", "Netlify", "HTML", "CSS", "JS"]}
  />

  <!-- <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Latest from blog</div>
  </div> -->

  <!-- {
    last_posts.map((post) => (
      <>
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/blog/" + createSlug(post.data.title, post.slug)}
          target="_self"
          badge={post.data.badge}
        />
        <div class="divider my-0" />
      </>
    ))
  } -->
</BaseLayout>
